<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <h2 class="navbar-brand">Logo</h2>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/form" class="nav-link">Register</a>
            </li>
            <li class="nav-item">
                    <a href="/login" class="nav-link">Login</a>
                </li>
        </ul>
    </div>
</nav>
<div class="jumbotron">
    <router-outlet></router-outlet>
</div>
<footer class="page-footer font-small special-color-dark pt-4">
   <div class="footer-copyright text-center py-3">
        <p>&copy; 2019-2020 Company, Inc.</p>
   </div>
</footer>